@import "tailwindcss";

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #000000;
    --primary: #d4af37; /* Dourado premium */
    --secondary: #4a6480; /* Azul-acinzentado */
    --accent: #8b0000; /* Bordô elegante */
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #000000;
      --foreground: #ffffff;
      --primary: #d4af37; /* Mantém o dourado como destaque */
      --secondary: #303030; /* Cinza escuro para áreas secundárias */
      --accent: #8b0000; /* Mesmo bordô para consistência */
    }
  }

  /* Vincula as variáveis ao Tailwind */
  @theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-accent: var(--accent);
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: system-ui, sans-serif;
  }
}
